@import variables

.footer
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 30px
    text-align: center
    padding: 6px
    color: #777
    font-size: 12px
    border-top: 1px solid #e5e5e5