@import variables

.searchForm
    margin-bottom: 30px
    background: #EEE
    border-bottom: 1px solid #E0E0E0
    padding: 25px 0

    .form-group
        position: relative
        &:after
            // content: ''
            width: 2px
            height: 30px
            background: transparent
            position: absolute

    label
        margin-left: 35px
        margin-right: 10px
        @media #{$information-phone}
            margin-left: 0
            margin-right: 0


        &.first
            margin-left: 0

    select.form-control
        height: 38px
        min-width: 130px
        padding: 8px 12px
        background: #F7F7F7
        border: 1px solid #DADADA
        box-shadow: none
        color: #2A2D33
        font-weight: 600
        padding-right: 27px
        transition: all ease-in-out 0.10s

        &:hover
            background: #ECEFF1
            border-color: #CFD8DC

    .btn
        padding: 7px 40px
        background: #FFF
        color: $primary-color
        border-radius: 2px
        margin-left: 25px
        border: 2px solid $primary-color
        @media #{$information-phone}
            margin-top: 30px
            margin-left: 0
            width: 100%

        &:hover
            background: lighten($primary-color, 10% )
            border: 2px solid darken($primary-color, 5%)
            color: #fff
            transition: all ease-in-out 0.10s


    h1
        line-height: 18px
        font-size: 18px
        display: table
        margin: 0 auto
        margin-top: 10px
        margin-bottom: 30px
        @media #{$information-phone}
            margin-top: 0
            margin-bottom: 20px
            font-size: 14px
            text-align: center

