@import variables

.header
    padding: 20px 0
    @media #{$information-phone}
        padding: 15px 0
        text-align: center
    background: $primary-color
    color: #fff

    .dateTime
        text-align: right
        font-size: 18px
        line-height: 55px
        font-weight: 300
        @media #{$information-phone}
            text-align: center

    .nextLessonBox

        .delimiter:before
            content: '\b7'
            margin-left: 5px

    .logo
        height: 55px
        background: url('../img/logo.png') no-repeat
        background-position: 15px 0
