@import variables

.legend
    margin-top: 4px
    margin-right: 16px
    margin-bottom: 50px
    @media #{$information-phone}
    text-align: right

    .legendTitle
        font-size: 13px
        line-height: 28px
        margin-right: 10px

    .boxes
        float: right
        .lessonSample
            padding: 2px
            text-align: center
            min-width: 165px
            display: block
            margin: 4px 2px
            font-size: 12px