@import variables

html
    min-height: 100%
    position: relative

html, body
    @media #{$information-phone}
        overflow-x: hidden

body
    background: #F9F9F9
    font-family: 'Open Sans', sans-serif