@import variables

.modal-content
    border-radius: 2px

.modal-header
    color: #fff
    text-align: center
    background: $primary-color

    .modal-title
        font-weight: 300
        font-size: 18px

.modal-body
    padding: 30px
    @media #{$information-phone}
        padding: 20px

    label
        min-width: 90px

    label, p
        font-size: 16px
        color: rgba(0, 0, 0, 0.45)
        font-weight: 400
        @media #{$information-phone}
            display: block
            margin-bottom: 4px

    p
        display: inline-block
        color: rgba(0, 0, 0, 0.65)

    &>div
        padding: 8px
        @media #{$information-phone}
            padding: 4px

.modal-footer
    text-align: center
    border: none
    padding: 20px 15px

    button
        background: #fff
        color: $primary-color
        border: 2px solid $primary-color
        padding: 10px 90px

        &:hover
            background: lighten($primary-color, 10% )
            border: 2px solid darken($primary-color, 5%)
            color: #fff
            transition: all ease-in-out 0.10s