@import variables

.currentLesson,
.nextLessonBox
    margin: 10px 0

    .lessonLabel
        color: #ADADAD
        margin-right: 5px
        @media #{$information-phone}
            display: block

.currentLesson
    text-align: left

.nextLessonBox
    text-align: right
    @media #{$information-phone}
        text-align: left
