@import variables

.table-container
    @media #{$information-phone}
        overflow: auto
        padding: 0

table
    border-collapse: collapse
    color: rgba(0, 0, 0, 0.87)
    margin-top: 30px

    th, td
        width: 140px
        text-align: left
        border: 1px solid #EBEBEB
        padding: 1px

    th,
    tr td:first-child
        border: none

    th
        font-size: 16px
        line-height: 40px
        text-indent: 8px
        @media #{$information-phone}
            min-width: 50px
            &:first-child
                min-width: 10px

        sup
            margin-left: 2px

.cell
    display: block
    position: relative
    padding: 8px
    @media #{$information-phone}
        text-align: center
        padding: 4px
    height: 110px
    cursor: pointer

.multipleLessons .cell
    height: 54px
    padding-top: 6px
    padding-bottom: 6px

    &:first-child
        margin-bottom: 2px

.dayCell
    font-size: 16px
    font-weight: 600
    line-height: 40px
    color: rgba(0, 0, 0, 0.35)

    .dayTitle
        display: inline-block
        width: 80px
        @media #{$information-phone}
            display: none

    .dayTitleMobile
        display: none
        margin: 0 5px
        margin-right: 4px
        @media #{$information-phone}
            display: block

    .dayDate
        @media #{$information-phone}
            display: none

.currentDay
    .dayTitle, .dayTitleMobile
        color: rgba(0, 0, 0, 0.90)

.currentDay td
    background-color: #f6f9fb

    &:first-child
        background: none

// cell lesson excersise compulsory
.compulsory.excersise
    background: #b3e5fc
    border: 1px solid #29b6f6

.compulsory.lecture
    background: #e1f5fe
    border: 1px solid #81d4fa

.optional.excersise
    background: #ffcc80
    border: 1px solid #ff9800

.optional.lecture
    background: #ffe0b2
    border: 1px solid #ffa726

// Cell items
.cell
    .title
        float: left
        @media #{$information-phone}
            float: none

    .room
        float: right
        @media #{$information-phone}
            float: none


    .duration
        position: absolute
        bottom: 8px
        right: 8px
        @media #{$information-phone}
            position: static
            margin-top: 25px
            display: block
            line-height: 10px